<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQLDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         com.mysql.cj.jdbc.Driver
      </property>
      
      <!-- Assume test is the database name -->
      
      <property name = "hibernate.connection.url">
      jdbc:mysql://localhost/ges?serverTimezone=UTC
      </property>
      
      <property name = "hibernate.connection.username">
         root
      </property>
      
      <property name = "hibernate.connection.password">
         root
      </property>

      
      <property name = "useUnicode">
         true
      </property>
      
       <property name = "useJDBCCompliantTimezoneShift">
         true
      </property>
      
      <property name = "useLegacyDatetimeCode">
         false
      </property>
      
      <property name = "serverTimezone">
         UTC
      </property>
      
      <property name = "useSSL">
         false
      </property>
      
      <property name="hibernate.show_sql">
      true
      </property>
      
      <!-- 
      <mapping class="com.beans.grh.Action" />
      <mapping class="com.beans.grh.Actions" />
      <mapping class="com.beans.grh.Attestation" />
      <mapping class="com.beans.grh.Conge" />
      <mapping class="com.beans.grh.Departement" />
      <mapping class="com.grh.beans.Diplome" />
      <mapping class="com.grh.beans.DroitUt" />
      <mapping class="com.grh.beans.ElementModule" />
      <mapping class="com.grh.beans.Enseigner" />
      <mapping class="com.beans.grh.Mission" />
      <mapping class="com.beans.grh.Module" />
      -->
      <mapping class="com.grh.beans.Filiere" />
      <mapping class="com.grh.beans.Grade" />
      <mapping class="com.grh.beans.Prof" />
      <mapping class="com.grh.beans.Utilisateur" />
      
      <!-- 
      <mapping class="com.beans.QuitterTerrit" />
      <mapping class="com.beans.Section" />
      <mapping class="com.beans.Segrader" />
      -->
      
      
   </session-factory>
</hibernate-configuration>